<h1>Giải phương trình bậc 2</h1>
<form asp-action="GiaiPhuongTrinhBac2">
    <p>
        <label>Nhập hệ số a:</label>
        <input type="number" name="hesoA">
    </p>
    <p>
        <label>Nhập hệ số b:</label>
        <input type="number" name="hesoB">
    </p>
    <p>
        <label>Nhập hệ số c:</label>
        <input type="number" name="hesoC">
    </p>
    <p>
        <input type="submit" class="btn btn-succes" value="Kết quả">
    </p>
</form>
<h2>Đáp án: @ViewBag.ThongBaoKetQua</h2>