<h1 class="text-center">Thông tin nhân viên</h1>
<form asp-action="">
    <label>Mã nhân viên:</label>
    <input type="number" name="EmployeeID" value="MNV">
    <br>
    <label>Họ tên nhân viên:</label>
    <input type="text" name="EmployeeName" value="Họ và tên">
    <br>
    <label>Chức vụ nhân viên:</label>
    <input type="text" name="EmployeePosition" value="Chức vụ">
    <br>
    <input type="submit" value="Gửi">
</form>
<h1>@ViewBag.ThongTin</h1>